* {
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
}

.box {
  background-color: rgb(30, 72, 72);
  padding: 40px;
  padding-bottom: 20px;
  border: 5px solid rgb(73, 36, 108);
  margin: 50px;
  display: inline-block;
  text-align: center;
  position: relative;
  border-radius: 12px;
}

/* extra styles for center card */
.additional {
  box-shadow: 0px 50px 50px rgba(68, 36, 70, 0.4);
  background-color: rgb(14, 92, 99);
}

h1 {
  font-family: "Roboto Condensed", sans-serif;
  color: antiquewhite;
}

.box p {
  font-family: "Roboto Condensed", sans-serif;
  color: antiquewhite;
}

.box-img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 12px;
}

.flickr-logo {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 30px;
}

.box a:visited {
  color: rgb(171, 161, 148);
}

.box a {
  color: antiquewhite;
}

.youtube-logo {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 30px;
}

.linkedin-logo {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 35px;
}
